<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'appkara/index.css' %}">
    <title> 
        {% block title %} 
        {% endblock %}
    </title>
</head>
<body>

<!-- Navbar -->
<div class="navbar">
    <a href="/appkara/index/">Accueil</a>
    <a href="/appkara/saisi/">form</a>
    <a href="/appkara/all/">all</a>
    <a href="#contact">Contact</a>
</div>

<!-- Contenu de la page -->
<div style="padding: 20px">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>