{% extends 'main.html' %}

{% block title %}
    salut
{% endblock %}

{% block content %}
<h1> bienvenue dans le dojo </h1>
    <a href="/appkara/saisi/"> AJOUTER UNE TECHNIQUE </a>
<h3> Filtre </h3> 
<a href="/appkara/all/Blocage/"> Blocage </a>

<a href="/appkara/update/{{technique.id}}/"> Modifier </a>
<a href="/appkara/update/{{technique.id}}/"> Modifier </a>
<ol>
    {% for i in liste %}
        <li>{{i}} <a href="/appkara/affiche/{{i.id}}/"> afficher </a></li>
    {% endfor %}
</ol>
{% endblock %}